
:host {
  display: block;
  overflow: hidden;
}

.stripe {
  position:relative;
  display: inline-block;
  background-color:red;
  top:-10%;
  height:120%;
  transform: translate3d(0,0,0px) scale(1.0) rotate(14deg);
  transform-style: preserve-3d;
  transition: transform 1000ms linear;

  z-index:0;
}

.stripe.enter {
  transform: translate3d(0,100%,0px) scale(1.0) rotate(14deg);
  transform-style: preserve-3d;
  transition: transform 100ms linear;
}

.stripe:hover {
  transform: translate3d(0,0,1000px) scale(1.2) rotate(7deg);
  transition: transform 100ms linear;
  z-index:1;
}


.stripe:nth-child(odd) {
  background-color: #ff756b;
}

.stripe:nth-child(0) {
  background-color: #ff756b;
}


/*
@media (orientation: portrait) {
  :host {
    flex-direction: column;
  }

  .stripe {
    transform: rotate(-7deg);
  }

  .content {
    transform: rotate(7deg);
  }
}

@media (orientation: landscape) {

  .stripe {
    transform: rotate(-7deg);
  }

  .content {
    transform: rotate(7deg);
  }
}

:host {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  overflow: hidden;
}

.stripe {
  height: 100%;
  width: 100%;
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
  flex-shrink: 10;
  transition: flex-shrink 100ms linear;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.stripe:hover {
  flex-shrink: 9;
  transition: flex-shrink 100ms linear;
}

@keyframes stripes {
  from {
    background-color: red;
  }
  to {
    background-color: #680003;
  }
}
*/
