@media (orientation: portrait) {
  .stripe, .containers {
    left: 0 !important;
    width: 100% !important;
  }

  .stripe {
    transform: scale(1.0) skewY(-8deg) translate3d(0, 0, 0);
  }

  .stripe.enter {
    transform: scale(1.0) skewY(-8deg) translate3d(100%, 0, 0);
  }

  .containers:nth-child(odd) .stripe.enter {
    transform: scale(1.0) skewY(-8deg) translate3d(-100%, 0, 0);
  }
}

@media (orientation: landscape) {
  .stripe, .containers {
    height: 100% !important;
    top: 0 !important;
  }

  .stripe {
    transform: scale(1.0) skewX(-8deg) translate3d(0, 0, 0);
  }

  .stripe.enter {
    transform: scale(1.0) skewX(-8deg) translate3d(0, 100%, 0);
  }

  .containers:nth-child(odd) .stripe.enter {
    transform: scale(1.0) skewX(-8deg) translate3d(0, -100%, 0);
  }
}

:host {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.stripe, .containers {
  cursor: pointer;
  display: block;
  position: fixed;
}

.containers {
  position: absolute;
  transform: none;
  z-index: 10;
}

.stripe {
  transform-style: preserve-3d;
  transition: transform 100ms linear;
}

.stripe.enter {
  transition: transform 100ms linear;
}

.containers:nth-child(odd) .stripe.enter {
}

.containers:not(:first-child):not(:last-child):hover .stripe {
  background-color: white !important;
}

.content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
