<div
  class="containers" *ngFor="let stripe of stripes; let i = index;"
  [ngStyle]="{
    'height': stripe.metadata.wideness,
    'left': stripe.metadata.offset,
    'top': stripe.metadata.offset,
    'width': stripe.metadata.wideness
  }"
>
  <div
    class="stripe"
    [class.in]="state == 'in'"
    [class.enter]="state == 'enter'"
    [ngStyle]="{
    'background-color': stripe.metadata.color,
    'height': stripe.metadata.wideness,
    'left': stripe.metadata.offset,
    'top': stripe.metadata.offset,
    'transition-delay': i * 40+'ms',
    'width': stripe.metadata.wideness
  }"
  >
  </div>
  <div class="content" *ngIf="stripe.metadata.isInBody">
    <template [ngTemplateOutlet]="contentTemplate"
              [ngOutletContext]="{ data: stripe.data, metadata: stripe.metadata }">
    </template>
  </div>
</div>
